Utils/*.step
freecad/__pycache__/
.DS_Store
/freecad/gdml/#exoemacs#
/freecad/gdml/Resources/ColorDict.csv
/freecad/gdml/Resources/MapMaterials.xml
/freecad/gdml/exportExtrusion-virtual-union.py
/freecad/gdml/exportGDML-2022-02-09.py
/freecad/gdml/gdml.zip
/freecad/gdml/temp.py
/freecad/gdml/buildTree.py
/freecad/gdml/ooExportGDML.py
/freecad/gdml/temp.txt
/freecad/gdml/GDMLScaleWidget.py
/freecad/gdml/GDMLScale_ui.py
/freecad/gdml/Resources/ui/GDMLScale.ui
/freecad/gdml/Resources/ui/GDMLScale_ui.py
*~
/Images/GDMLPreferences.png
/Images/Qt_designer.png
/freecad/gdml/GDMLResources.py.bak
/myResources.py
/settings_howto.org
/settings_howto.pdf
/settings_howto.tex
/freecad/gdml/prevExportGDML.py
rsync_to_goole-drive
.venv
.vscode
.idea
.Utils.save

